{% extends "base.html" %} {% block content %}
<div class="container" style="margin-bottom: 50px">
	
	{% csrf_token %}
	
	{% if error_message %}
	<div id="errormessage">
	  <p id="displayerrormessage" style= "color: red"> <em>{{error_message}} </em> </p>
	</div>
	{% endif %}
	
	
	{% if new_taxonomyName %}
	<div style="width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px" >
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11" style="color: #333; vertical-align:middle">
			Summary of current exploration</a>
		</legend>
		<div id="collapse11" class="collapse in">
			<p style="font-size: 14px; margin-left: 15px; margin-right: 15px">
				To model data-driven categories for a set of concepts (Taxonomy), AdvoCate provides the following four activities: 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Create trainingset activity" data-content="This activity allows a user to create a new trainingset. User have to provide the training samples and other relevant details for individual concepts, and AdvoCate combine them to create a new trainingset. In case of exploring changes in an existing taxonomy, user may also use the existing trainingset in AdvoCate as a reference set.">
					Create trainingset
				</a>
				, 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Change trainingset activity" data-content="This activity allows a user to remove, merge or split existing concepts in a trainingset to create a new version. create a new trainingset.">
					Change trainingset
				</a>
				, 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Learning activity" data-content="This activity allows a user to create a new classification model, which consists of signature files of a set of concepts to be modelled. A user may use different classification methods (classifiers) to create different classification models.">
					Learning activity
				</a>
				and 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Classification activity" data-content="This activity allows a user to classify a satellite image into a set of concepts using a classification model built in the previous Learning activity.">
					Classification activity
				</a>
				. The exploration path shows how a user traverses through these activities to model a new taxonomy or changes in an existing taxonomy. The details of the exploration path
				for the current session is shown below:
			</p>
			<br />
			<p style="font-size: 14px;  margin-left: 30px; margin-right: 10px">
			 	<em>Note: click on an activity to see more details about it.</em>
			 </p>
			
			<div id="explorationchaindiv" >
			 	<dl id = "explorationchain" style=" margin-left: 30px; width: 700px">
			 		{% for activity in exploration_chain %}
			 		{% with forloop.counter|cut:" " as index %}
			 		<dt style="cursor:pointer; font-weight:normal; line-height: 2.5em; background:#e4e4e4; border-bottom: 1px solid #c4c4c4; border-top: 1px solid white"> 
			 			&nbsp;&nbsp;  {{forloop.counter}}. &nbsp;&nbsp;&nbsp;
			 			{% for details in activity%}
			 				{% if forloop.first %}
			 					{{details}} </dt>			 				
			 				{% else %}
			 					{% for each_detail in details %}
			 					<dd style=" margin-left:10px; padding: 0.5em 0; border-bottom: 1px solid #c4c4c4; display:none"> &nbsp;&nbsp; {{forloop.counter}}. &nbsp; &nbsp; &nbsp; {{each_detail}} </dd>
			 					{% endfor %}
			 				{% endif %}
			 			
			 			{% endfor %}
			 		
			 		{% endwith %}
			 		{% endfor %}
			 	</dl>
			 </div>
			
			<p style="font-size: 14px; margin-left: 15px; margin-right: 15px">
				The above exploration process leads to the conceptualization of a taxonomy <strong><em>{{new_taxonomyName}}</em></strong> with the following concepts:
				{% for concept in conceptsList %}
				<strong>{{concept}}</strong>, 	
				{% endfor %}		
			 </p>
			 <p style="font-size: 14px;  margin-left: 15px; margin-right: 15px">
			 	The classification model of the taxonomy is conceptualized as a {{modelType}} model with an accuracy of {{modelScore}}.
			 </p>
			 <p style="font-size: 14px; margin-left: 15px; margin-right: 15px">
			 	Categories corresponding to each concept, along with their accuracies are as below:
			 </p>
			 <br />	 
			 <table class=" table table-bordered" style="width:35%; margin: 0 auto">
			 	<tr>
			 		<th>Category</th>
			 		<th>User accuracy</th>
			 		<th>Producer accuracy</th>		 		
			 	</tr>
			 	{% for concept in conceptsList %}
			 	{% with forloop.counter|cut:" " as index %}
			 	<tr>
			 		<td>{{concept}}</td>
			 		<td>{{userAccuracies|slice:index|last}}</td>
			 		<td>{{producerAccuracies|slice:index|last}}</td>
			 	</tr>
			 	{% endwith %}
			 	{% endfor %}
			 </table>
			 <br /><br />
			 
		 
			 <div id="implement" style="margin-left: 10px; margin-bottom: 15px">
				 <label style="margin-left: 10px" for="chooseButtons">Do you wish to implement these changes in AdvoCate:</label>&nbsp; &nbsp;
				 <button id="yesforchange" class="btn btn-default"> Yes</button>&nbsp; &nbsp;
				 <button id="noforchange" class="btn btn-default">  No</button>
			 </div>
			 
			 <div id="commitsuccessmessage" style="display:none; margin-left: 10px; margin-bottom: 15px" >
			 	<p id = "successmessage" style="font-size: 14px; margin-left: 10px; margin-right: 10px; color: green"><em> </em>
			 	</p>
			 </div>
		 </div>
	</div>


	<div id="changeevent" style="display:none;width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px" >
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12" style="color: #333; vertical-align:middle">
			Change event</a>
		</legend>
		<div id="collapse12" class="collapse in">
			 <label style="margin-left: 10px" for="listofchangeoperations"> A change event is created to implement the above changes. The change event incorporates the change operations as listed below:</label>
			 <br /><br />
			 
			 
			 <div id="listofchangeoperations" >
			 	<dl id = "compositechangeoperations" style=" margin-left: 30px; width: 550px">
			 		
			 	</dl>
			 </div>
			 <p style="margin-left: 20px"><em>Note: Click a (composite) change operation in the above table to see the atomic and other composite changes it contains.</em></p>
			 <br />
			 
			 <div id="commit" style="margin-left: 10px; margin-bottom: 15px">
				<label style="margin-left: 10px" for="chooseButtons">Do you wish to commit these change operations:</label>&nbsp; &nbsp;
				<button id="yesforcommit" class="btn btn-default"> Yes</button>&nbsp; &nbsp;
				<button id="noforcommit" class="btn btn-default">  No</button>
			 </div>
		</div>
	</div>
	{% endif %}
	
	{% if existing_taxonomyName %}
	<div style="width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px" >
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13" style="color: #333; vertical-align:middle">
			Summary of current exploration</a>
		</legend>
		<div id="collapse13" class="collapse in">
		
			<p style="font-size: 14px; margin-left: 10px; margin-right: 10px">
				The current exploration process, resulting from an external trigger of '<strong><em>{{external_trigger}}</em></strong>', models changes in existing taxonomy 
				<strong><em>{{existing_taxonomyName}}</em></strong> and leads to the following changes.
			</p>
			
			<p style="font-size: 14px; margin-left: 10px; margin-right: 10px">
				The new classification model is conceptualized as a {{model_type}} with an accuracy of {{model_score}}% as compared to the existing classification model stored 
				in AdvoCate as {{old_model_type}} with an accuracy of {{old_model_accuracy}}%.		
			</p>
			 
			<p style="font-size: 14px; margin-left: 10px; margin-right: 10px">
				Below is given the different lists of categories and the changes that occurred:
			</p> 
			
	 		
	 		{% if common_categories_comparison_details|length|get_digit:"-1" > 0 %}
	 		
			<table class=" table table-bordered" style=" width:80%; margin: 0 auto">
				<caption style="margin-bottom: 7px"><strong>Comparison between the categories corresponding to the common concepts in the existing taxonomy and the new modeled taxonomy: </strong></caption>
				<br />
				<tr>
					<th>Concept</th>
					<th>User accuracy (new)</th>
					<th>Producer accuracy (new)</th>
					<th>User accuracy (existing)</th>
					<th>Producer accuracy (existing)</th>
					<th>
						<a href="#" data-toggle="popover" data-placement="top" data-html="true" data-container="body"  title="Change trainingset activity" data-content="The extensional similarity is calculated using Jaccard index. The value represents the similarity between two finite sample sets. <br/> The J-index is defined as:<br/> <MATH>J(A,B) = (A &#8745; B) &#8260; (A &#8746; B) </MATH><br/> where A and B are finite sample sets.">
						Extensional similarity</a>
					</th>
					<th>J M Distance</th>	 		
				</tr>
				{% for concept in common_categories_comparison_details %}
					{% if concept|length|get_digit:"-1" == 7 %}
					<tr>
						{% for data in concept %}
						<td>{{data}}</td>
						{% endfor %}
					</tr>
					{% else %}
					<tr>
						{% for data in concept %}
						<td>{{data}}</td>
						{% endfor %}
						<td>N/A</td>
					</tr>
					{% endif %}
			 	{% endfor %}
			 </table>
			 <br /><br />
			 
			 {% endif %}
			
			{% if new_categories_details|length|get_digit:"-1" > 0 %}
				
			<br />	 
			<table class=" table table-bordered" style=" width:70%; margin: 0 auto">
				<caption style="margin-bottom: 7px"><strong>Details of the categories corresponding to new concepts in the new modeled taxonomy: </strong></caption>
				<tr>
					<th>Concept</th>
					<th>User accuracy</th>
					<th>Producer accuracy</th>	 		
				</tr>
				{% for concept in new_categories_details %}
				<tr>
					{% for data in concept %}
					<td>{{data}}</td>
					{% endfor %}
				</tr>
			 	{% endfor %}
			 </table>
			 <br /><br />
			
			{% endif %}
			
			{% if categories_merged_from_existing_details|length|get_digit:"-1" > 0 %}
				
			<br />	 
			<table class=" table table-bordered" style=" width:80%; margin: 0 auto">
				<caption style="margin-bottom: 7px"><strong>Details of the categories corresponding to the concepts resulted from merging existing concepts in the taxonomy: </strong></caption>
				<tr>
					<th>New merged concept</th>
					<th>User accuracy</th>
					<th>Producer accuracy</th>
					<th>Existing concept 1</th>
					<th>
						<a href="#" data-toggle="popover" data-placement="top" data-html="true" data-container="body"  title="Extensional containment" data-content="The extensional containment tells how much extension of the new concept is contained within the extension of the concept it split from.">
						Extensional containment</a>
					</th>
					<th>Existing concept 2</th>
					<th>Extensional containment</th>
					<th>Existing concept 3</th>
					<th>Extensional containment</th>	
				</tr>
				{% for concept in categories_merged_from_existing_details %}
				<tr>
					{% for data in concept %}
					<td>{{data}}</td>
					{% endfor %}
				</tr>
			 	{% endfor %}
			 </table>
			 <br /><br />
			
			{% endif %}
			
			
			{% if categories_split_from_existing_details|length|get_digit:"-1" > 0 %}
				
			<br />	 
			<table class=" table table-bordered" style=" width:70%; margin: 0 auto">
				<caption style="margin-bottom: 7px"><strong>Details of the categories corresponding to the concepts resulted from splitting an existing concept in the taxonomy: </strong></caption>
				<tr>
					<th>New concept</th>
					<th>Split from</th>
					<th>User accuracy</th>
					<th>Producer accuracy</th>		
					<th>
						<a href="#" data-toggle="popover" data-placement="top" data-html="true" data-container="body"  title="Extensional containment" data-content="The extensional containment tells how much extension of the existing concept is contained within the extension of the new merged concept.">
						Extensional containment</a>
					</th>
				</tr>
				{% for concept in categories_split_from_existing_details %}
				<tr>
					{% for data in concept %}
					<td>{{data}}</td>
					{% endfor %}
				</tr>
			 	{% endfor %}
			 </table>
			 <br /><br />
			
			{% endif %}
			
			 <div id="implement" style="margin-left: 10px; margin-bottom: 15px">
				 <label style="margin-left: 10px; font-weight: normal" for="chooseButtons">Do you wish to implement these changes in AdvoCate:</label>&nbsp; &nbsp;
				 <button id="yesforchangeinexisting" class="btn btn-default"> Yes</button>&nbsp; &nbsp;
				 <button id="noforchangeinexisting" class="btn btn-default">  No</button>
			 </div>
			 
			 <div id="newtaxonomyversionorchangeexisting" style="margin-left: 10px; margin-bottom: 15px; display:none">
				 <label style="margin-left: 10px; font-weight: normal" for="chooseButtons" >Do you wish to create a new taxonomy version or make changes to the existing taxonomy:</label>&nbsp; &nbsp;
				 <button id="newtaxonomyversion" class="btn btn-default"> New taxonomy version</button>&nbsp; &nbsp;
				 <button id="changeexistingtaxonomy" class="btn btn-default">  Existing taxonomy</button>
			 </div>
			 
			 <div id="thresholdlimitforchange" style="display:none; margin-left: 20px; margin-bottom: 15px; margin-right: 20px" >
			 	<p> 
			 		AdvoCate provides an optional feature -
			 		<a href="#" data-toggle="popover" data-placement="top" data-html="true" data-container="body"  title="Threshold limit of change" data-content="The threshold limit of change (&#955;<sub>int</sub>, &#955;<sub>ext</sub>) allows AdvoCate to determine the type of change. If Change in extension > &#955;<sub>ext</sub> for a category, then AdvoCate advises to create a new evolutionary version of the category, otherwise a user may create a new competing version of the category dependeing on the chenge in computational intension.">
						Threshold limit of change</a>
					- to quantify the extent of change in the intension and extension of a concept and find its relation to the concept's identity. 
			 	</p>
			 	<label style="font-weight: normal" for="" >Do you wish to use the threshold limit feature: </label>&nbsp; &nbsp;
				 <button id="yesforthresholdlimit" class="btn btn-default"> Yes</button>&nbsp; &nbsp;
				 <button id="noforthresholdlimit" class="btn btn-default">  No</button>
	
			</div>	
			 
			 <div id="commitsuccessmessage" style="display:none; margin-left: 10px; margin-bottom: 15px" >
			 	<p id = "successmessage" style="font-size: 14px; margin-left: 10px; margin-right: 10px; color: green"><em> </em>
			 	</p>
			</div>
		
		</div>
		 
	</div>	
	
	<div id="userinputforchangeevent" style="display:none;width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px" >
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15" style="color: #333; vertical-align:middle">
			User input to create change event</a>
		</legend>
		<div id="collapse15" class="collapse in">
			<div id="thresholdlimitforchangedetails" style="display:none; margin-left:20px; margin-bottom:20px">
			 	<br /><br />
			 	<label style = "font-weight: normal ">(Default values)</label>
			 	<span>
			 	<label style = "font-weight: normal; margin-left: 15px ">&#955;<sub>ext</sub> : </label>
				
					<input style="margin-left: 15px" id="ext_change_limit" name = "ext_change_limit" disabled="disabled" type="text" size="10" value="0.50" required />
				</span>
				
				<label style = "margin-left: 40px; font-weight: normal ">&#955;<sub>int</sub> : </label>
				<span>
					<input style="margin-left: 15px" id="int_change_limit" name = "int_change_limit" disabled="disabled" type="text" size="10" value="0.50" required />
				</span>
				<span>
				<button style="margin-left: 50px" id="changethresholdvalues" class="btn btn-default"> Change</button>&nbsp; &nbsp;
			 	<button id="submitthresholdvalues" class="btn btn-default" style="display:none">  Submit</button>
			 	</span>
			 </div>
			 
			 <div id = "userinput" style=" margin-left:20px; margin-bottom:20px">
			 	
			 </div>
			
		</div>
	</div>
	

	
	<div id="changeevent" style="display:none;width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px" >
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14" style="color: #333; vertical-align:middle">
			Change event</a>
		</legend>
		<div id="collapse14" class="collapse in">
			<label style="margin-left: 10px" for="listofchangeoperations"> A change event is created to implement the above changes. The change event incorporates the following change operations:</label>
			<br /><br />
			<div id="listofchangeoperations" >
				<dl id = "compositechangeoperations" style=" margin-left: 30px; width: 1050px">
				
				</dl>
			</div>
			 <p style="margin-left: 30px"><em>Note: Click a (composite) change operation in the above table to see the atomic and other composite changes it contains.</em></p>
			 <br />
 
			<div id="commit" style="margin-left: 10px; margin-bottom: 15px">
				<label style="margin-left: 10px" for="chooseButtons">Do you wish to commit these change operations:</label>&nbsp; &nbsp;
				<button id="yesforcommitfornewtaxonomyversion" class="btn btn-default"> Yes</button>&nbsp; &nbsp;
				<button id="noforcommitfornewtaxonomyversion" class="btn btn-default">  No</button>
			</div> 
		</div>
	</div>  
	{% endif %}

</div>
{% endblock %}