{% extends "base.html" %} {% block content %}

{% csrf_token %}
{% load staticfiles%}
<div class="container">
	<form class="form-group" id="trainingoptions" name="trainingoptions" style="width: 100%; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px; border-bottom: 0">
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center" >
			<a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1" style="color: #333; vertical-align:middle">Choose options to build a classification model </a>
		</legend>
		<div id="collapse1" class="collapse in">
			<div style="float: left; margin-left: 10px; margin-top: 10px">
				<select id="classifiertype" name="classifiertype" required >
				<option value="">Select Classifier</option>
				<option value="Naive Bayes">NaiveBayes</option>
				<option value="Decision Tree">Decision Tree (C4.5)</option>
				<option value="Support Vector Machine">Support Vector Machine</option>
				</select>
		    </div>

			<div style="float: right; margin-right: 5px">
				{% if attributes %}
				{% else %}
				<p id="signinerror" class="error" style= "color: brown">
					Select a training sample!
				</p>
				{% endif %}
			</div>
			<br /><br /><br />
			
			<div style="width:56%; float:left; border-style: solid; border-width: 1px; border-color: #E5E5E5; border-right: 0; border-top:0; height:285px">
				<legend style="font-size: 14px; background-color: gainsboro; width:500px; float:left" align="center">Validation options
				</legend>
				<div class="form-group radio" style="width: 98%; overflow: hidden; margin-left: 10px">
					
					<input type="radio" name="validationoption" value="1" required />Use training data
					<br/><br/>
					<input type="radio" name="validationoption" value="2" required />Upload validation data
					<span style="float: right; margin-right:95px">
						<input type="file" id="validationfile" name="validationfile" accept=".csv,.xls,.tif,.png,.adf" disabled/>
					</span> 
					<br/><br/>
					<input type="radio" name="validationoption" id="CrossValidation" value="3" required>Cross-validation 
					<span style="margin-left: 72px"> 
						<label style="font-weight: normal"> Folds </label>
						<input style="margin-left: 25px" id="fold" name = "fold" disabled="disabled" type="text" size="15" value="10" required />
					</span>
					<br />			
				</div>
				<input type="submit" id="createsignaturefile" value="Submit" class="btn btn-default" style="margin:10px"/>
				<br /><br />
			</div>
			
			<div style="width:44%; float:right; border-style: solid; border-width: 1px; border-color: #E5E5E5; border-left: 0; border-top:0; height:285px">
			<legend style="font-size: 14px; background-color: gainsboro; width:500px; margin-bottom: 10px" align="center">Threshold limits
			</legend>
			
			<p style="margin-left: 10px; margin-right: 10px; margin-bottom: 15px">
				To improve the accuracy of classification model, AdvoCate provides 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Suggestions"data-content="AdvoCate analyses which categories are overlapping and confused and may give high classification error. Based on it, AdvoCate then provides suggestions to acheive better accuracy, such as merge two categories that are highly confused.">suggestions</a> 
				about what can be changed in the concepts to be modelled based on the threshold limits of 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="J-M distance"data-content="It is a separability measure which suggests how separable the two probability distributions are. The value decreases exponentially from 1.41 to 0 with decreasing separation between two categories.">J-M distance</a>
				and 
				<a href="#" data-toggle="popover" data-placement="top" data-container="body"  title="Producer/User accuracy"data-content="Producer accuracy is the number of occurences correctly classified for a category divided by the total number of occurrences belonging to the category in the reference data. User accuracy is the number of occurrences correctly classified for a category divided by the total number of occurrences belonging to the category in the classified data.">producer/user accuracies </a>
				of categories. The default values of these limits are:</p>
			
			<label style = "margin-left: 10px; font-weight: normal ">J-M distance for overlapping categories: </label>
			<span>
				<input style="margin-left: 20px" id="jm_limit" name = "jm_limit" disabled="disabled" type="text" size="10" value="{{jm_limit}}" required />
			</span>
			<br /><br />
			<label style = "margin-left: 10px; font-weight: normal ">Producer/user accuracy: </label>
			<span>
				<input style="margin-left: 120px" id="acc_limit" name = "acc_limit" disabled="disabled" type="text" size="10" value="{{acc_limit}}" required />
			</span>
			<br />
			<input type="submit" id="changelimits" value="Change" class="btn btn-default" style="margin:30px"/>
			<span>
				<input type="submit" id="submitchangelimits" value="Submit" class="btn btn-default" style="margin:30px; display: none" />
			</span>
			</div>
		</div>
	</form>
	<div class="form-group" id="signaturefiledetails" style="width: 100%; display:none; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px">
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center">
			<a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2" style="color: #333; vertical-align:middle">Classification model details</a>
		</legend>
		
		<div id="collapse2" class="collapse in">
			<div id="" style="padding-left: 15px; padding-right: 15px"><br />&nbsp; &nbsp;
			<label  id = "validationscore" style="font-weight: normal"> </label>&nbsp; &nbsp; 
			<label id = "kappa" style="font-weight: normal; "> </label>
			</div>
			<br />
			<div id="NaiveBayesmodeldetails" style="display:none; padding-left: 15px; padding-right: 15px">
				&nbsp; &nbsp;
				<input type="radio" name="NaiveBayesmodeldetails" value="1" style="vertical-align: middle; margin: 0px;"/> Mean vectors and variances &nbsp; &nbsp;  &nbsp;
				<input type="radio" name="NaiveBayesmodeldetails" value="2" style="vertical-align: middle; margin: 0px;" checked/> Confusion matrix &nbsp; &nbsp;  &nbsp; 
				<input type="radio" name="NaiveBayesmodeldetails" value="3" style="vertical-align: middle; margin: 0px;"/> Error/Accuracy &nbsp; &nbsp;  &nbsp;
				<input type="radio" name="NaiveBayesmodeldetails" value="4" style="vertical-align: middle; margin: 0px;"/> JM Distance &nbsp; &nbsp;  &nbsp; 
				<br /><br />
				<div class="form-group" id="meanvectorsandvariance" style="padding-left: 15px; padding-right: 15px ">
			  	</div>
				<div class="form-group" id="confusionmatrix1" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				<div class="form-group" id="ErrorAccuracy" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				<div class="form-group" id="JMDistance" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				
			</div>
			<div id="DecisionTreemodeldetails" style="display:none; padding-left: 15px; padding-right: 15px">
				&nbsp; &nbsp;
				<input type="radio" name="DecisionTreemodeldetails" value="1" style="vertical-align: middle; margin: 0px;"/> Decision Tree &nbsp; &nbsp;  &nbsp; 
				<input type="radio" name="DecisionTreemodeldetails" value="2" style="vertical-align: middle; margin: 0px;" checked /> Confusion matrix &nbsp; &nbsp;  &nbsp; 
				<input type="radio" name="DecisionTreemodeldetails" value="3" style="vertical-align: middle; margin: 0px;"/> Error/Accuracy &nbsp; &nbsp;  &nbsp; 
				<br/><br/>
				<div class="form-group" id="decisiontree" style="padding-left: 15px; padding-right: 15px ">
			  	</div>
				<div class="form-group" id="confusionmatrix2" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				<div class="form-group" id="accuracies" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				
			</div>	
			<div id="SVMmodeldetails" style="display:none; padding-left: 15px; padding-right: 15px">
				&nbsp; &nbsp;
				<input type="radio" name="SVMmodeldetails" value="1" style="vertical-align: middle; margin: 0px;" checked /> Confusion matrix &nbsp; &nbsp;  &nbsp; 
				<input type="radio" name="SVMmodeldetails" value="2" style="vertical-align: middle; margin: 0px;"/> Error/Accuracy &nbsp; &nbsp;  &nbsp; 
				<br/><br/>
				<div class="form-group" id="confusionmatrix3" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
				<div class="form-group" id="accuracies2" style="padding-left: 15px; padding-right: 15px; display:none ">
				</div>
			
			</div>
		
		</div>		
	</div>
	<div id = "suggestions_section" class="form-group" style="display:none; border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-bottom:0px">
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center">
			<a role="button" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3" style="color: #333; vertical-align:middle">Suggestions</a>
		</legend>
		<div id="collapse3" class="collapse in">
		</div>
	</div>
	<div id = "signaturefilecomparison" class="form-group" style="display:none; border-style: solid; border-width: 1px; overflow: auto; border-color: #E5E5E5 ">
		<legend style="font-size: 16px; background-color: gainsboro; line-height: 30px; margin-bottom:10px" align="center">
			<a role="button" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4" style="color: #333; vertical-align:middle">
			Comparison between the existing categories and the newly modelled categories</a>
		</legend>
		<div id="collapse4" class="collapse in">
		</div>
	</div>
	
</div>

{% endblock %}
