{% extends "base.html" %} {% block content %}

<form role="form" id="Form1" action="" method="POST">
	{% csrf_token %}
	<fieldset>

		<div class="form-group" style="width: 38%; float: left">
			<legend style="font-size: 18px">
				Choose Options
			</legend>
			
			<div class="form-group" style="width: 98%; overflow: hidden">

				<div style="float: left; margin-left: 1%">
					<select id="classifiertype" name="classifiertype"required ">
						<option value="">Select Classifier</option>
						<option value="NaiveBayes">NaiveBayes</option>
						<option value="C4.5">C4.5</option>
					</select>
				</div>
					
				<div style="float: right; margin-right: 1%">
					{% if attributes %} 
					
					<select name="targetattribute" id="targetattribute"required  ">
						<option value="">Select target attribute</option>
							{% for attr in attributes %}
						<option value="{{ attr }}">
							{{ attr }}
							{% endfor %}
					</select> 
					
					{% endif %}

				</div>
			</div>

			<div class="form-group" style="margin-left: 1%; margin-right: 1%">
				<legend style="font-size: 18px">
					Training Options
				</legend>

				<input type="radio" name="trainingoption" value="1" required />	Use training set
				<br/><br/>
				
				<input type="radio" name="trainingoption" id="CrossValidation" value="2"> Cross-validation 
				<span style="float: right"> 
					<label style="font-weight: normal"> Folds &nbsp &nbsp</label>
					<input id="Fold" disabled="disabled" type="text" size="25" value="10" required />
				</span>
				<br/><br/>
				
				<input type="radio" name="trainingoption" id="PercentageSplit" value="3"> Percentage split 
				<span style="float: right">
					<label style="font-weight: normal"> % &nbsp &nbsp &nbsp &nbsp </label>
					<input id="Percentage" disabled="disabled" type="text" size="25" value="66" required />
				</span>
				<br/><br/>
				
				<button id = "createsignaturefile" class="btn btn-default" >Submit</button>
				
			</div>
		</div>
		<div style="width: 61%; float: right;">
			<legend style="font-size: 18px">
				Signature file details
			</legend>
			<div class="form-group"
			style="height: 400px; border-style: solid; border-width: 1px; overflow: auto; border-color: #E5E5E5; margin-left: 1%; margin-right: 1%">

				{% if classifierName %}
				<table style="width: 100%; margin-top: 5px; margin-left: 5px">
					<tr>
						<td>Correctly classified instances:</td>
						<td>{{ clbp }}</td>
						<td>{{ mean_accuracy }} %</td>
					</tr>
					<tr>
						<td>Incorrectly classified instances:</td>
						<td>{{ mlbp }}</td>
						<td>{{ misclassified_accuracy }} %</td>
					</tr>
					<tr>
						<td>Kappa statistic:</td>
						<td>{{ kp }}</td>
					</tr>
				</table>

				<br />

				<label for="ConfusionMatrix" style="margin-left: 10px">Confusion Matrix:</label>
				<table class="table table-bordered" style="width: auto; margin-left: 20px">
					<tr>
						<th></th>
						{% for i in numerical_classes %}
						<th>{{ i }}</th>
						{% endfor %}
					</tr>
					{% for row in cm %}
					<tr>
						{% for class in numerical_classes%}
						{% ifequal forloop.counter forloop.parentloop.counter %}
						<td><strong>{{ class }}</strong></td>
						{% endifequal %}
						{% endfor %}

						{% for data in row %}
						<td>{{ data }}</td>
						{% endfor %}
						{% for sum in rowsum%}
						{% ifequal forloop.counter forloop.parentloop.counter %}
						<td> {{ sum }} </td>
						{% endifequal %}
						{% endfor %}
					</tr>

					{% endfor %}
					<tr>
						<td></td>
						{% for sum in columnsum %}
						<td>{{ sum }} </td>
						{% endfor %}
						<td> {{ totalsum }}</td>
					</tr>
					{% endif %}
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}
