{% extends "base.html" %} {% block content %}
<div class="container">

	{% csrf_token %}

	<div class="form-group" style="width: 22%; float: left; border-style: solid; border-width: 1px; border-color: #E5E5E5">
		<form class="form-group" enctype="multipart/form-data" name="supervisedClassification" action="#">
			<legend style="font-size: 18px; background-color: gainsboro" align="center">
				Upload test file
			</legend>

			<div class="form-group" style="margin-left: 5px; margin-right: 5px">
				<input type="file" id="testfile" accept=".tif" required/>
				<br />
				<br />
				<button id="doclassification" class="btn btn-default">
					Submit
				</button>
			</div>
			<div style="float: left; margin-left: 1%">
				{% if error %}
				<p id="signinerror" class="error" style= "color: brown">
					{{error}}
				</p>
				{% endif %}
			</div>
		</form>
	</div>
	<div style="width: 76%; float: right; border-style: solid; border-width: 1px; border-color: #E5E5E5">
		<legend style="font-size: 18px; background-color: gainsboro" align="center">
			Classified map
		</legend>
		
			<div id="classifiedmap" style="padding-left: 15px; padding-right: 15px; width:78%; float:left ">
			</div>
			<div id="categorycolors" style="padding-left: 2px; padding-right: 2px; width: 22%; float:right">
			</div>

		
	</div>

</div>
{% endblock %}