{% extends "base.html" %} {% block content %}
<div class="container">

	<form role="form" id="Form1" action="" method="POST">
		{% csrf_token %}
		<fieldset>

			<div class="form-group" style="width: 35%; float: left">
				<legend style="font-size: 18px">
					Choose Options
				</legend>

				<div class="form-group" style="width: 98%; overflow: hidden">

					<div >
						<select id="classifiertype" name="classifiertype"required>
						<option value="">Select signature file</option>
						<option value=""></option>
						</select>
						<br /><br />
						<label style="font-weight: bold"> Upload test data </label>
						<span style="float: right">
						<input type="file" id="testfile" name="testfile"  accept=".csv,.xls,.tif,.png,.adf" required/>
						</span>
					</div>

					<br />
					<input type="submit" id="doclassification" value="Submit" class="submit button" />
				</div>
			</div>
			<div style="width: 64%; float: right">
				<legend style="font-size: 18px">
					Classified data
				</legend>
				<div class="form-group"
				style="height: 400px; border-style: solid; border-width: 1px; overflow: auto; border-color: #E5E5E5; margin-left: 1%; margin-right: 1%">

				</div>
			</div>
		</fieldset>
	</form>
</div>
{% endblock %}
