{% extends "base.html" %}
{% block content %}

	{% csrf_token %}

	<div class="container">
		<div style="border-style: solid; border-width: 1px; border-color: #E5E5E5">
			
				<legend style="font-size: 16px; background-color: gainsboro" align="center">Choose existing training sample or create a new one</legend>
				<div class="form-group radio" style="margin-left: 10px">		
								
					<input type="radio" name="choosetrainingfile" value="option1" id="existingtrainingset"/>Existing
					<span style = "margin: 50px">
						<select name="existingtrainingfiles" id="existingtrainingfiles"  disabled>
							<option>Existing training files</option>
							{% for train in training_set_list %}
							<option id="trainingset{{ forloop.counter }}" value="{{ train.trainingset_id }}+{{train.trainingset_ver}}">{{ train.trainingset_name }}</option>
							{% endfor %}
	 					</select>
					</span>
					<br /><br />
					
					<input type="radio" name="choosetrainingfile" value="option2" id="newtrainingset"/>New
					<!--<span style = "">
						<input type="file" id="trainingfile" name="trainingfile" accept=".csv,.xls,.tif,.png,.adf" multiple disabled/>
					</span>-->
					<br /><br />
				</div>
				<div  id="newconceptsanddetails" >
					<legend style="font-size: 14px; background-color: gainsboro" align="center">Enter details of concepts to be modelled</legend>

					<div class="form-group" id="categoriesandsamples" style="margin-left: 10px; margin-right: 10px">
						<form id="concept1details" enctype="multipart/form-data" action="#" >

							<div class="form-group" >
								<span><label for="catgeoryName" style ="font-weight:normal">Concept name</label></span>
								<span style = "margin-left: 100px">
								<input id="catgeoryName" type="text" size="20" placeholder="Enter concept name"  required /></span>
								<span style = "margin-left: 50px">
								<label for="trainingfile1" style ="font-weight:normal">Upload training samples</label></span>
								<span style = "margin-right: 250px; float:right">					
							  	<input type="file" id="trainingfile1" name="trainingfile1" accept=".csv,.xls,.tif,.png,.adf" multiple /></span>
						  	</div>
						  	<div class="form-group">
								<span><label for="FieldResearcherName" style ="font-weight:normal">Field researcher's name</label></span>
								<span style = "margin-left: 43px">
								<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/></span>
								<span style = "margin-left: 50px">
								<label for="Location" style ="font-weight:normal">Training Location</label></span>
								<span style = "margin-right: 351px; float:right">
								<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/></span>
							</div>
							<div class="form-group">
								<span><label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training start date</label></span>
								<span style = "margin-left: 78px">
								<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/></span>
								<span style = "margin-left: 62px">
								<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training end date</label></span>
								<span style = "margin-right: 360px; float:right">
								<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/></span>
							</div>
							
							<div class="form-group">
								<span><label for="Description" style ="font-weight:normal">Other details</label></span>
								<span style = "margin-left: 110px">
								<textarea name="OtherDetails" rows="1" cols="70" id="Description" placeholder="Enter any more relevant details"> </textarea></span>
							</div>
						</form>
					</div>
					<br />	
					<div class="form-group" id="addmorecategoriesorsubmit" style = "margin-left: 10px; margin-right: 10px; margin-bottom:15px">
						<button id="addmorecategories" class="btn btn-default" style = "float: left" >Add another concept</button>
						<span style="margin-left: 70px">
					  		<button id="submittrainingsamples" class="btn btn-default" >Submit</button>
					  	</span>
						
					</div>
					
					<div style="margin-left: 5px; margin-right: 5px">	
						<p id="trainingfileformatError" style= "color: red"> <em> </em> </p>
					</div>
				</div>


			<form  id="newtrainingdatasetdetails" style="display:none" enctype="multipart/form-data" action="#">
				<legend style="font-size: 16px; background-color: gainsboro" align="center">Enter new training dataset details</legend>
				<div style=" margin-left: 5px; margin-right: 5px" >
				  	<div class="form-group">
						<label for="TrainingFileName" style ="font-weight:normal">Save training data as</label><br />
						<input type="text" name="TrainingFileName" value="" id="TrainingFileName" placeholder="Enter Name"/>
					</div>
					<div class="form-group">
						<label for="FieldResearcherName" style ="font-weight:normal">Field Researcher's Name</label><br />
						<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/>
					</div>
					<div class="form-group">
						<label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training Time Period - Start date</label><br />
						<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/>
					</div>
					<div class="form-group">
						<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training Time Period - End date</label><br />
						<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/>
					</div>
					<div class="form-group">
						<label for="Location" style ="font-weight:normal">Enter Training Location</label><br />
						<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/>
					</div>
					<div class="form-group">
						<label for="Description" style ="font-weight:normal">Other details</label><br />
						<textarea name="OtherDetails" rows="8" cols="40" id="Description" placeholder="Enter any more relevant details"> </textarea>
					</div>
					<button id="savetrainingdatadetails" class="btn btn-default">Save dataset details</button>
				</div>
			</form>
			<form  id="trainingsetcomparison" style="display:none" enctype="multipart/form-data" action="#">
				<legend style="font-size: 18px; background-color: gainsboro" align="center">Training samples comparison</legend>
				<div id = "trainingsetcomparisondetails" style=" margin-left: 5px; margin-right: 5px; margin-bottom:5px" >

				</div>
			</form>
		</div>

		<div style=" border-style: solid; border-width: 1px; border-color: #E5E5E5">
			<legend style="font-size: 18px; background-color: gainsboro" align="center">View/Edit training samples</legend>
			<div style = "margin-left:5px"> 
				<label for="instances" id = "instanceslabel" style="font-weight: normal; display:none">Instances: <span	id="instances"> </span></label>
				&nbsp; &nbsp; &nbsp; &nbsp;
				<label for="Attributes" id = "attributeslabel" style="font-weight: normal; display:none">No of attributes: <span id="Attributes"> </span> </label>
			</div>
			<br />
			<div id= "trainingdataTable" class="handsontable" style="overflow: scroll; margin-left: 5px; display:none" >
			</div>
			<br/>
			<div id = "changedtrainingdata" style="margin-left: 5px; display:none" >
				<label for="reasonforchange" style ="font-weight:normal">Enter details of change</label><br />
				<textarea name="reasonforchange" rows="8" cols="40" id="reasonforchange" placeholder="Enter any more relevant details"> </textarea>
			</div>
			<div id = "newversionstoredsuccessfully" style="margin-left: 5px; display:none" >
				<p id="successmessage" style= "color: green"> <em> </em> </p><br />
			</div>
			<button id="saveChanges" style="display:none" class="btn btn-default">Save changes </button>
		</div>
	</div>

{% endblock content %}
