{% extends "base.html" %}
{% block content %}

	{% csrf_token %}

	<div class="container">
		<div style="border-style: solid; border-width: 1px; border-color: #E5E5E5">
			
			<legend style="font-size: 16px; background-color: gainsboro" align="center">Choose existing trainingset or create a new one</legend>
			<div class="form-group radio" style="margin-left: 10px">		
							
				<input type="radio" name="choosetrainingfile" value="option1" id="existingtrainingset"/>Choose existing
				<span style = "margin: 50px">
					<select name="existingtrainingfiles" id="existingtrainingfiles"  disabled>
						<option>Existing trainingset</option>
						{% for train in training_set_list %}
						<option id="trainingset{{ forloop.counter }}" value="{{ train.trainingset_id }}+{{train.trainingset_ver}}">{{ train.trainingset_name }}</option>
						{% endfor %}
					</select>
				</span>
				<br /><br />
				
				<input type="radio" name="choosetrainingfile" value="option2" id="newtrainingset"/>Create a new trainingset
				<br /><br />
			</div>
			
			{% if new_taxonomy %}
			<div  id="newconceptsanddetails" style="display:none">
				<legend style="font-size: 14px; background-color: gainsboro" align="center">Concepts in the new trainingset</legend>
	
				<div class="form-group" id="categoriesandsamples" style="margin-left: 10px; margin-right: 10px">
					<form id="concept1details" enctype="multipart/form-data" action="#" >
	
						<div class="form-group" >
							<span><label for="conceptName" style ="font-weight:normal">Concept name</label></span>
							<span style = "margin-left: 100px">
							<input id="conceptName" type="text" size="20" placeholder="Enter concept name"  required /></span>
							<span style = "margin-left: 50px">
							<label for="trainingfile1" style ="font-weight:normal">Upload training samples</label></span>
							<span style = "margin-right: 250px; float:right">					
						  	<input type="file" id="trainingfile1" name="trainingfile1" accept=".csv,.xls,.tif,.png,.adf" multiple /></span>
					  	</div>
					  	<div class="form-group">
							<span><label for="FieldResearcherName" style ="font-weight:normal">Field researcher's name</label></span>
							<span style = "margin-left: 43px">
							<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/></span>
							<span style = "margin-left: 50px">
							<label for="Location" style ="font-weight:normal">Training Location</label></span>
							<span style = "margin-right: 351px; float:right">
							<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/></span>
						</div>
						<div class="form-group">
							<span><label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training start date</label></span>
							<span style = "margin-left: 78px">
							<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/></span>
							<span style = "margin-left: 62px">
							<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training end date</label></span>
							<span style = "margin-right: 360px; float:right">
							<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/></span>
						</div>
						
						<div class="form-group">
							<span><label for="Description" style ="font-weight:normal">Other details</label></span>
							<span style = "margin-left: 110px">
							<textarea name="OtherDetails" rows="1" cols="70" id="Description" placeholder="Enter any more relevant details"> </textarea></span>
						</div>
					</form>
				</div>
				<br />	
				<div class="form-group" id="addmorecategoriesorsubmit" style = "margin-left: 10px; margin-right: 10px; margin-bottom:15px">
					<div id="trainingsetname" style="display:none" class="form-group" >
						<label for="trainingsetfilename" >Combine training samples and save trainingset as</label>
						<span style = "margin-left: 65px">
						<input type="text" name="trainingsetfilename" value="" id="trainingsetfilename" placeholder="Enter file name"/></span>							  
					</div>
					<button id="addmorecategories" class="btn btn-default" style = "float: left" >Add another concept</button>
					<span style="margin-left: 70px">
				  		<button id="submittrainingsamples" class="btn btn-default" >Submit</button>
				  	</span>
					<span style="margin-left: 70px">
				  		<button id="savetrainingset" class="btn btn-default" style="display:none">Save trainingset</button>
				  	</span>
				</div>
				
				<div style="margin-left: 5px; margin-right: 5px">	
					<p id="trainingfileformatError" style= "color: red"> <em> </em> </p>
				</div>
			</div>
			{% endif %}
			
			{% if existing_taxonomy %}
			<div  id="newconceptsanddetails" style="display:none">
				<legend style="font-size: 14px; background-color: gainsboro" align="center">Concepts in the new trainingset</legend>
				
				
				<!-- Form for adding a new concept.. this is just for copying-->
				<form id="newconceptdetails" enctype="multipart/form-data" action="#" style="display: none">
					<legend style="width: 400px; font-size: 14px; background-color: gainsboro" align="left"> &nbsp; New concept</legend>
					<div class="form-group" >
						<span><label for="conceptName" style ="font-weight:normal">Concept name</label></span>
						<span style = "margin-left: 100px">
						<input id="conceptName" type="text" size="20" placeholder="Enter concept name"  required /></span>
						<span style = "margin-left: 50px">
						<label for="trainingfile1" style ="font-weight:normal">Upload training samples</label></span>
						<span style = "margin-right: 250px; float:right">					
					  	<input type="file" id="trainingfile1" name="trainingfile1" accept=".csv,.xls,.tif,.png,.adf" multiple /></span>
				  	</div>
				  	<div class="form-group">
						<span><label for="FieldResearcherName" style ="font-weight:normal">Field researcher's name</label></span>
						<span style = "margin-left: 43px">
						<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/></span>
						<span style = "margin-left: 50px">
						<label for="Location" style ="font-weight:normal">Training Location</label></span>
						<span style = "margin-right: 351px; float:right">
						<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/></span>
					</div>
					<div class="form-group">
						<span><label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training start date</label></span>
						<span style = "margin-left: 78px">
						<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/></span>
						<span style = "margin-left: 62px">
						<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training end date</label></span>
						<span style = "margin-right: 360px; float:right">
						<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/></span>
					</div>
					
					<div class="form-group">
						<span><label for="Description" style ="font-weight:normal">Other details</label></span>
						<span style = "margin-left: 110px">
						<textarea name="OtherDetails" rows="1" cols="75" id="Description" placeholder="Enter any more relevant details"> </textarea></span>
					</div>
				</form>
				
				<!-- Form for adding an existing concept.. this is just for copying-->
				<form id="existingconceptdetails" enctype="multipart/form-data" action="#" style="display:none">
					<legend style="width: 400px; font-size: 14px; background-color: gainsboro" align="left">&nbsp; Existing concept</legend>
					<div class="form-group" >
						<span><label for="existingconceptName" style ="font-weight:normal">Choose a concept</label></span>
						<span style = "margin-left: 80px">
							<select name="existingconceptName" id="existingconceptName"  >
								<option>Existing concept</option>
								{% for concept in concept_list %}
								<option id="concept{{ forloop.counter }}" value="{{ concept }}">{{ concept }}</option>
								{% endfor %}
							</select>
						</span>
					</div>
					
					<div id="existingornewsamples" class="form-group radio" style="" >
						<input type="radio" name="existingornewsample" value="option1" id="existingsamplechosen"/>Use existing samples
						<br /><br />
						<input type="radio" name="existingornewsample" value="option2" id="newsamplechosen" class="newsamples"/>Upload new samples
						<span style = "margin-right: 635px; float:right">					
				  			<input type="file" id="newtrainingsamplesforanexistingconcept" class="uploadfile" accept=".csv,.xls,.tif,.png,.adf" multiple disabled/>
				  		</span>
				  	</div>
				  	
				  	<div id="detailsfornewtrainingsamplesforanexistingconcept" style="margin-top: 25px; display:none">
					  	<div class="form-group">
							<span><label for="FieldResearcherName" style ="font-weight:normal">Field researcher's name</label></span>
							<span style = "margin-left: 43px">
							<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/></span>
							<span style = "margin-left: 50px">
							<label for="Location" style ="font-weight:normal">Training Location</label></span>
							<span style = "margin-right: 351px; float:right">
							<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/></span>
						</div>
						<div class="form-group">
							<span><label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training start date</label></span>
							<span style = "margin-left: 78px">
							<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/></span>
							<span style = "margin-left: 62px">
							<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training end date</label></span>
							<span style = "margin-right: 360px; float:right">
							<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/></span>
						</div>
						
						<div class="form-group">
							<span><label for="Description" style ="font-weight:normal">Other details</label></span>
							<span style = "margin-left: 110px">
							<textarea name="OtherDetails" rows="1" cols="75" id="Description" placeholder="Enter any more relevant details"> </textarea></span>
						</div>
					</div>
				</form>
				
				
				<!-- Form for merging existing concept.. this is just for copying-->
				<form id="mergingconceptdetails" enctype="multipart/form-data" action="#" style="display:none">
					<legend style="width: 400px; font-size: 14px; background-color: gainsboro" align="left">&nbsp; Merge existing concepts</legend>
					
					<div class="form-group" >
						<span><label for="firstconcepttomerge" style ="font-weight:normal">First concept to merge:</label></span>
						<span style = "margin-left: 45px">
							<select name="firstconcepttomerge" id="firstconcepttomerge"  >
								<option>Existing concept</option>
								{% for concept in concept_list %}
								<option id="concept{{ forloop.counter }}" value="{{ concept }}">{{ concept }}</option>
								{% endfor %}
							</select>
						</span>
						<span style = "margin-left: 95px">
						<label for="secondconcepttomerge" style ="font-weight:normal">Second concept to merge:</label></span>				
					  	<span style = "margin-left: 40px">
							<select name="secondconcepttomerge" id="secondconcepttomerge"  >
								<option>Existing concept</option>
								{% for concept in concept_list %}
								<option id="concept{{ forloop.counter }}" value="{{ concept }}">{{ concept }}</option>
								{% endfor %}
							</select>
						</span>
					</div>
					
					<div class="form-group" >
						<label for="Mergedconceptname" style ="font-weight:normal">Merged concept name:</label>
						<span style = "margin-left: 45px">
							<input type="text" name="Mergedconceptname" value="" id="Mergedconceptname" placeholder="Enter name of concept"/>
						</span>
					</div>
					
					<div class="form-group radio" >
						<input type="radio" name="existingornewsampleformergedconcept" value="option1" id="existingsamplechosenformergedconcept"/>Use existing samples
						<br /><br />
						<input type="radio" name="existingornewsampleformergedconcept" value="option2" class= "newsamples" id="newsamplechosenformergedconcept"/>Upload new samples
						<span style = "margin-right: 675px; float:right">					
				  			<input type="file" id="newtrainingsamplesformergedconcept" class="uploadfile" accept=".csv,.xls,.tif,.png,.adf" multiple disabled/>
				  		</span>
				  	</div>
				  	
				  	<div id="detailsfornewtrainingsamplesformergedconcept" style="margin-top: 20px; display:none" >
					  	<div class="form-group">
							<span><label for="FieldResearcherName" style ="font-weight:normal">Field researcher's name</label></span>
							<span style = "margin-left: 43px">
							<input type="text" name="FieldResearcherName" value="" id="FieldResearcherName" placeholder="Enter Name"/></span>
							<span style = "margin-left: 50px">
							<label for="Location" style ="font-weight:normal">Training Location</label></span>
							<span style = "margin-right: 351px; float:right">
							<input type="text" name="TrainingLocation" value="" id="Location" placeholder="Enter Training Location"/></span>
						</div>
						<div class="form-group">
							<span><label for="TrainingTimePeriodStartDate" style ="font-weight:normal">Training start date</label></span>
							<span style = "margin-left: 78px">
							<input type="date" name="TrainingTimePeriodStartDate" value="" id="TrainingTimePeriodStartDate"/></span>
							<span style = "margin-left: 62px">
							<label for="TrainingTimePeriodEndDate" style ="font-weight:normal">Training end date</label></span>
							<span style = "margin-right: 360px; float:right">
							<input type="date" name="TrainingTimePeriodEndDate" value="" id="TrainingTimePeriodEndDate"/></span>
						</div>
						
						<div class="form-group">
							<span><label for="Description" style ="font-weight:normal">Other details</label></span>
							<span style = "margin-left: 110px">
							<textarea name="OtherDetails" rows="1" cols="75" id="Description" placeholder="Enter any more relevant details"> </textarea></span>
						</div>
					</div>
				</form>
				
				<!-- Form for splitting an existing concept.. this is just for copying-->
				<form id="splittingconceptdetails" enctype="multipart/form-data" action="#" style="display:none">
					<legend style="width: 400px; font-size: 14px; background-color: gainsboro" align="left">&nbsp; Split an existing concept</legend>
					
					<div class="form-group" >
						<span><label for="concepttosplit" style ="font-weight:normal">Choose a concept to split:</label></span>
						<span style = "margin-left: 100px">
							<select name="concepttosplit" id="concepttosplit"  >
								<option>Existing concept</option>
								{% for concept in concept_list %}
								<option id="concept{{ forloop.counter }}" value="{{ concept }}">{{ concept }}</option>
								{% endfor %}
							</select>
						</span>
					</div>
					
					<div class="form-group" >
						<span><label style ="font-weight:normal">Split the concept into:</label></span>
						<span style = "margin-left: 25px">
							<label for="firstconceptfromsplit" style ="font-weight:normal">First concept:</label>
						</span>
						<span style = "margin-left: 15px">
						<input type="text" name="firstconceptfromsplit" value="" id="firstconceptfromsplit" placeholder="Enter Name"/>
						</span>
						<span style = "margin-left: 35px">
							<label for="secondconceptfromsplit" style ="font-weight:normal">Second concept:</label>
						</span>
						<span style = "margin-left: 15px">
						<input type="text" name="secondconceptfromsplit" value="" id="secondconceptfromsplit" placeholder="Enter Name"/>
						</span>
					</div>
					
					<div class="form-group" >
						<span><label style ="font-weight:normal">Upload samples for first concept:</label></span>
						<span style = "margin-right: 560px; float:right">					
				  			<input type="file" id="samplesforfirstsplitconcept"  accept=".csv,.xls,.tif,.png,.adf" multiple />
				  		</span>
					</div>
					
					<div class="form-group" >
						<span><label style ="font-weight:normal">Upload samples for second concept:</label></span>
						<span style = "margin-right: 560px; float:right">					
				  			<input type="file" id="samplesforsecondsplitconcept"class="uploadfile" accept=".csv,.xls,.tif,.png,.adf" multiple />
				  		</span>
					</div>
					
					<div id="detailsfornewtrainingsamplesforfirstsplitconcept" style="margin-top: 20px; display:none">
						<legend style="width: 200px; font-size: 14px; background-color: gainsboro" align="center">Details for first concept</legend>
					  	<div class="form-group">
							<span><label for="FieldResearcherName1" style ="font-weight:normal">Field researcher's name</label></span>
							<span style = "margin-left: 43px">
							<input type="text" name="FieldResearcherName1" value="" id="FieldResearcherName1" placeholder="Enter Name"/></span>
							<span style = "margin-left: 50px">
							<label for="Location1" style ="font-weight:normal">Training Location</label></span>
							<span style = "margin-right: 351px; float:right">
							<input type="text" name="TrainingLocation1" value="" id="Location1" placeholder="Enter Training Location"/></span>
						</div>
						<div class="form-group">
							<span><label for="TrainingTimePeriodStartDate1" style ="font-weight:normal">Training start date</label></span>
							<span style = "margin-left: 78px">
							<input type="date" name="TrainingTimePeriodStartDate1" value="" id="TrainingTimePeriodStartDate1"/></span>
							<span style = "margin-left: 62px">
							<label for="TrainingTimePeriodEndDate1" style ="font-weight:normal">Training end date</label></span>
							<span style = "margin-right: 360px; float:right">
							<input type="date" name="TrainingTimePeriodEndDate1" value="" id="TrainingTimePeriodEndDate1"/></span>
						</div>
						
						<div class="form-group">
							<span><label for="Description1" style ="font-weight:normal">Other details</label></span>
							<span style = "margin-left: 110px">
							<textarea name="OtherDetails1" rows="1" cols="75" id="Description1" placeholder="Enter any more relevant details"> </textarea></span>
						</div>
					</div>
					
					<div id="detailsfornewtrainingsamplesforsecondsplitconcept" style="margin-top: 20px; display:none">
						<legend style="width: 200px; font-size: 14px; background-color: gainsboro" align="center">Details for second concept</legend>
					  	<div class="form-group">
							<span><label for="FieldResearcherName2" style ="font-weight:normal">Field researcher's name</label></span>
							<span style = "margin-left: 43px">
							<input type="text" name="FieldResearcherName2" value="" id="FieldResearcherName2" placeholder="Enter Name"/></span>
							<span style = "margin-left: 50px">
							<label for="Location2" style ="font-weight:normal">Training Location</label></span>
							<span style = "margin-right: 351px; float:right">
							<input type="text" name="TrainingLocation2" value="" id="Location2" placeholder="Enter Training Location"/></span>
						</div>
						<div class="form-group">
							<span><label for="TrainingTimePeriodStartDate2" style ="font-weight:normal">Training start date</label></span>
							<span style = "margin-left: 78px">
							<input type="date" name="TrainingTimePeriodStartDate2" value="" id="TrainingTimePeriodStartDate2"/></span>
							<span style = "margin-left: 62px">
							<label for="TrainingTimePeriodEndDate2" style ="font-weight:normal">Training end date</label></span>
							<span style = "margin-right: 360px; float:right">
							<input type="date" name="TrainingTimePeriodEndDate2" value="" id="TrainingTimePeriodEndDate2"/></span>
						</div>
						
						<div class="form-group">
							<span><label for="Description2" style ="font-weight:normal">Other details</label></span>
							<span style = "margin-left: 110px">
							<textarea name="OtherDetails2" rows="1" cols="75" id="Description2" placeholder="Enter any more relevant details"> </textarea></span>
						</div>
					</div>
					
					
				</form>
				
				
				<div class="form-group" id="createnewtrainingset_changeexistingtaxonomy" style = "padding: 10px 10px 10px 10px;">
					
					<div class="form-group" id="categoriesandsamples_changeexistingtaxonomy" style="margin-left: 10px; margin-right: 10px; margin-bottom: 30px">
						
					</div>

					
					<div id="trainingsetname1" style="display:none" class="form-group" >
						<label for="trainingsetfilename1" >Combine training samples and save trainingset as</label>
						<span style = "margin-left: 50px">
						<input type="text" name="trainingsetfilename1" value="" id="trainingsetfilename1" placeholder="Enter file name"/></span>							  
					</div>
					<div id="buttonsforcreatingtrainingsample" >
						<button id="addnewcategory" class="btn btn-default" style = "float: left" >Add new concept</button>
						<span style="margin-left: 50px">
					  		<button id="addexistingcategory" class="btn btn-default"  >Add existing concept</button>
					  	</span>
					  	<span style="margin-left: 50px">
					  		<button id="mergecategories" class="btn btn-default" >Merge existing concepts</button>
					  	</span>
					  	<span style="margin-left: 50px">
					  		<button id="splitcategories" class="btn btn-default" >Split an existing concept</button>
					  	</span>
						<span style="margin-left: 50px" >
					  		<button id="submittrainingsamples1" class="btn btn-default" style="display:none">Submit</button>
					  	</span>
				  	</div>
				  	<button id="savetrainingset1" class="btn btn-default" style=" display:none; margin:auto">Save trainingset</button>
				  	
				</div>
				
			</div>
			{% endif %}


		<div id = "viewandedittrainingset" style=" border-style: solid; border-width: 1px; border-color: #E5E5E5; display:none">
			<legend style="font-size: 14px; background-color: gainsboro; margin-bottom: 0px" align="center">View/Edit trainingset</legend>
			<div id="viewtrainingset" style="width: 50%; float: left; border-style: solid; border-width: 1px; border-color: #E5E5E5">
				<div style = "margin-left:10px"> 
					<br />
					<label for="instances" id = "instanceslabel" style="font-weight: normal">Instances: <span	id="instances"> </span></label>
					&nbsp; &nbsp; 
					<label for="Attributes" id = "attributeslabel" style="font-weight: normal">No of attributes: <span id="Attributes"> </span> </label>
					&nbsp; &nbsp; 
					<span style = "float:right; margin-right: 100px"><p id="updatedtrainingsetmessage" style= "color: green"> <em> </em> </p></span>
				</div>
				<br />
				<div id= "trainingdataTable" class="handsontable" style="overflow: scroll; margin-left: 10px; display:none" >
				</div>
			</div>
			<div id="edittrainingset" style="width: 50%; float: right; border-style: solid; border-width: 1px; border-color: #E5E5E5; overflow: scroll">
				<br />
				<p style="margin-left: 10px; margin-right:10px">If you wish to edit the trainingset, use the below editing operations. Otherwise, you may also edit the trainingset manually in the table on the LHS.</p>
				<br />
				
				<div id= "editingoperations" class="form-group radio" style="margin-left: 10px">
					<input type="radio" name="chooseeditoperation" value="option1" id="removenodatavalue"/>Remove 'No data' values
					<span  style = "margin-left: 25px"> 
						<label id = "labelfornodatavalue" style="font-weight: normal; display:none"> Enter 'No data' value:</label>
						<input id="nodatavalue" style="display:none; margin-left: 10px" type="text" size="10" required />	
					</span>
					
					<br /><br />
					
					<input type="radio" name="chooseeditoperation" value="option2" id="removeconcept"/>Remove a concept
					<span  style = "margin-left: 50px">
						<select name="concepttoremove" id="concepttoremove"  style="display:none">
						</select>
					</span>
	
					<br /><br />
					
					<input type="radio" name="chooseeditoperation" value="option3" id="mergetwoconcepts"/>Merge two concepts
					<div id="mergetwoconceptdetails" style="display: none">
						<br />
						<label style="font-weight: normal; margin-left: 25px"> Concept 1:</label>
						<span style = "margin-left: 85px">
							<select name="selectfirstconcepttomerge" id="selectfirstconcepttomerge" >
							</select>
						</span>
						<br /><br />
						<label style="font-weight: normal; margin-left: 25px"> Concept 2:</label>
						<span style = "margin-left: 85px"> 
							<select name="selectsecondconcepttomerge" id="selectsecondconcepttomerge" >
							</select>	
						</span>
						<br /><br />
						<label style="font-weight: normal; margin-left: 25px"> Merged concept name:</label>
						<span style = "margin-left: 10px"> 
							<input id="mergedconceptname" type="text" size="20" required />	
						</span>
					</div>
					<br /><br />
					
					<input type="radio" name="chooseeditoperation" value="option4" id="splitaconcept"/>Split a concept
					<div id="splitaconceptdetails" style="display: none">
						<br />
						<label style="font-weight: normal; float: left"> concept to split:</label>
						<span style = "margin-left: 10px">
							<select name="selectconcepttosplit" id="selectconcepttosplit" >
							</select>	
						</span>
						<br /><br />
						<label style="font-weight: normal; float: left"> concept 1:</label>
						<span style = "margin-left: 45px"> 
							<input id="firstsplitconcept" type="text" size="10" required />	
						</span>
						<span style="float: right">
							<input type="file" id="samplesforfirstsplitconcept" name="samplesforfirstsplitconcept" accept=".csv,.xls,.tif,.png,.adf" multiple />
						</span>
						
						<br /><br />
						<label style="font-weight: normal; float: left"> concept 2:</label>
						<span style = "margin-left: 45px"> 
							<input id="secondsplitconcept" type="text" size="10" required />	
						</span>
						<span  style="float: right">
							<input type="file" id="samplesforsecondsplitconcept" name="samplesforsecondsplitconcept" accept=".csv,.xls,.tif,.png,.adf" multiple />
						</span>
					</div>
					
				</div>
				<br />
				<button id="addtoeditoperationslist" style="display:none; margin-left:15px" class="btn btn-default">Add the above operation to the list</button>
				<br /><br />
				<div id="listofeditingoperations" style="border-style: solid; border-width: 1px; border-color: #E5E5E5; margin-left:15px; margin-right:15px;  display:none">
					<legend style="font-size: 14px; background-color: gainsboro; margin-bottom: 0px" align="center">List of editing operations</legend>
					<br />
					<ul id = "editop" class=" list-group" style=" margin-left: 5px; margin-right: 5px; margin-bottom: 5px">
					</ul>
					<br />
					<button id="applyeditoperations" style="display:none; margin-left:20px; margin-bottom: 15px" class="btn btn-default">Apply the edit operations</button>

				</div>
				
				<div id = "changedtrainingdata" style="margin-left: 5px; display:none" >
					<label for="reasonchange" style ="font-weight:normal">Enter details of change</label><br />
					<textarea name="reasonchange" rows="8" cols="40" id="reasonforchange" placeholder="Enter any more relevant details"> </textarea>
				</div>
				<div id = "newversionstoredsuccessfully" style="margin-left: 5px; display:none" >
					<p id="successmessage" style= "color: green"> <em> </em> </p><br />
				</div>
				<button id="saveChanges" style="display:none" class="btn btn-default">Save changes </button>
				
			</div>
		</div>
		
		
	
			<form  id="trainingsetcomparison" style="display:none" enctype="multipart/form-data" action="#">
				<legend style="font-size: 18px; background-color: gainsboro" align="center">Training samples comparison</legend>
				<div id = "trainingsetcomparisondetails" style=" margin-left: 5px; margin-right: 5px; margin-bottom:5px" >

				</div>
			</form>
	</div>

{% endblock content %}
