{% extends "base.html" %} {% block content %}

{% csrf_token %}

<div class="container">
	<div class="form-group" style="width: 32%; float: left; border-style: solid; border-width: 1px; border-color: #E5E5E5">
		<legend style="font-size: 18px; background-color: gainsboro" align="center">Visualize taxonomies and/or concepts</legend>
		
		
		<div class="form-group radio" style="margin-left: 5px; margin-right: 5px">					
			<input type="radio" name="choosetaxonomyorconcepttovisualize" value="option1" id="choosetaxonomy"/>Taxonomy
			<br /><br />			
			<input type="radio" name="choosetaxonomyorconcepttovisualize" value="option2" id="chooseconcept"/>Concept			
			<br /><br />
		</div>
		
		<div class="form-group" id = "chooseoptionsfortaxonomy" style="margin-left: 5px; margin-right: 5px; overflow: hidden; display:none">
			<div >
				<label for="ChooseLegend" style="font-weight:normal; float: left">Choose a taxonomy</label>
				<span><select id="ChooseLegend" name="ChooseLegend" style="float: right">
					<option value=""> Existing taxonomies</option>
					{% for legend in legend_list %}
					<option id="legend{{ forloop.counter }}" value="{{ legend.legend_id }}+{{legend.legend_ver}}">{{ legend.legend_name }}</option>
					{% endfor %}
				</select></span>
			</div>
			<br /><br />
			<div >
				<label for="Chooseconcept" style="font-weight:normal; float: left">Choose a concept</label>
				<span><select id="Chooseconcept" name="Chooseconcept" style="float: right" disabled>
				</select></span>
			
			</div>
		</div>
	
		<div class="form-group" style="width: 98%; overflow: hidden">
			<div style="float: left; margin-left: 1%; font-size:14px; font-family:Calibri">
				<label for="WhichLegend" style="font-weight:normal">Select a legend</label>
			</div>
			<div style="float: right; margin-left: 1%; font-size:12px; font-family:Calibri">
				<select class ="form-control" id="WhichLegend" name="WhichLegend" required >
					<option value="">Select a legend</option>
					<option value="1">New Zealand land cover</option>
				</select>
			</div>
		</div>
	
		<div class="form-group" style="width: 98%; overflow: hidden">
			<div style="float: left; margin-left: 1%; font-size:14px; font-family:Calibri">
				<label for="" style="font-weight:normal">Select a category</label>
			</div>
			<div style="float: right; margin-left: 1%; font-size:12px; font-family:Calibri">
				<select class ="form-control" id="WhichCategory" name="WhichCategory" required >
					<option value="">Select a category</option>
					<option value="1">Built Space</option>
				</select>
			</div>
		</div>
		<br />
		<button id = "creategraph" type="submit" class="btn btn-default" >
			Submit
		</button>
		<br />
	</div>
	
	
	<div style="float: right; width: 66%; border-style: solid; border-width: 1px; border-color: #E5E5E5">
	<legend style="font-size: 18px; background-color: gainsboro" align="center">Visualization</legend>
	
		<div class="form-group" id="taxonomy_details" style="display:none; overflow: auto">
			<div id="taxonomy_viz" style="width: 98%; text-align: center; vertical-align: middle">
			  
			</div>
			<br />
			<div id="model_details" style="width: 98%; margin-left:5px; margin-right:5px">
			  
			</div>
		</div>
		

	</div>
</div>

{% endblock content %}